<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.example.demo.dao.GuardDao" >

    <select id="selectMysqlData" parameterType="int" resultType="com.example.demo.entity.DateEntity">
        select * from sys_data
        <where>
            <if test="dataid !=null and dataid != 0">and id =#{dataid}</if>
        </where>
    </select>

    <select id="selectMysqlDatad"  parameterType="int" resultType="com.example.demo.entity.DateEntity">
        select * from sys_data where id > #{dataid}
    </select>

</mapper>
